{:lib      io.github.hive-agi/hive-datalevin
 :minor    1
 :license  {:name "MIT" :url "https://opensource.org/licenses/MIT"}
 :scm-url  "https://github.com/hive-agi/hive-datalevin"
 :src-dirs ["src"] :publish  :clojars}
